<h1>Create a Team and Heroes!</h1>
<form method="POST" action='/team'>
  <label for="team_name">Team Name: </label>
  <input type="text" id="team_name" name="team[name]"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" id="team_motto" name="team[motto]"><br>
  
  <h2>Hero 1</h2>
  <label for="hero_1_name">Hero's Name: </label>
  <input type="text" id="hero_1_name" name="team[heros][][name]"><br>
  <label for="hero_1_power">Hero's Power: </label>
  <input type="text" id="hero_1_power" name="team[heros][][power]"><br> 
  <label for="hero_1_biography">Hero's Biography: </label>
  <input type="text" id="hero_1_biography" name="team[heros][][biography]"><br>
  
  <h2>Hero 2</h2>
   <label for="hero_2_name">Hero's Name: </label>
  <input type="text" id="hero_2_name" name="team[heros][][name]"><br>
  <label for="hero_2_power">Hero's Power: </label>
  <input type="text" id="hero_2_power" name="team[heros][][power]"><br> 
  <label for="hero_2_biography">Hero's Biography: </label>
  <input type="text" id="hero_2_biography" name="team[heros][][biography]"><br>  
</form>

